html{
    font-family: Calibri, Arial, Cambria, sans-serif;
    margin:0;
    padding: 0;
}
h1{
    font-family: Calibri, Arial, Cambria, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    padding:0;
    margin:0;
}
h2{
    font-size: 2em;
    padding:0;
    margin:2%;
}

header{
    background-color: #3A015C;
    display:flex;
    padding:10px;
    align-items:flex-end;
}
header h1{
    color:#f8f8f8;
    margin:0;
    display:inline;
}
header img{
    display:inline;
}
header ul{
    display:flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header li{padding: 0px 10px;}
header li a {
    color:white;
}
a{
    text-decoration:none;
    transition: all .25s linear;
}
a:hover{
    color: #06D6A0;
}
#masthead{
    text-align: center;
    background-color: #13A18F;
    display:flex;
    flex-direction:column;
    padding:2%
}

.malicious, .malicious:hover{
    color:#ff0000;
}
.unSure, .unSure:hover{
    color: #9c9c15;
}
.safe, .safe:hover{
    color:#228B22;
}