html{
    font-family: Calibri, Arial, Cambria, sans-serif;
    text-decoration: none;
    margin:0;
    padding: 0;
}
h1{
    font-family: Calibri, Arial, Cambria, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}
h2{
    font-size: 2em;
}

main{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}