html{
    font-family: Calibri, Arial, Cambria, sans-serif;
    text-decoration: none;
    margin:0;
    padding: 0;
}
h1{
    font-family: Calibri, Arial, Cambria, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}
h2{
    font-size: 2em;
}

header{
    background-color: #3A015C;
    display:flex;
    padding:10px;
    align-items:flex-end;
}
header h1{
    color:#f8f8f8;
    margin:0;
    display:inline;
}
header img{
    display:inline;
}
header ul{
    display:flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header li{padding: 0px 10px;}
header li a {
    transition: all .25s linear;
}
.malicious, .malicious:hover{
    color:#ff0000;
}
.unSure, .unSure:hover{
    color: #9c9c15;
}
.safe, .safe:hover{
    color:#228B22;
}